


article, article > name, p, section, title,  conversionwarning, body {
 display: block;
}

conversionwarning { color: #888; }
conversionwarning:after { content: " conversion warning(s)"; }

article > body {
 margin: 1em;
}

article > name {
 font-size: 188%;
 margin-bottom: 0.1em;
 padding-top: 0.5em;
 padding-bottom: 0.17em;
 border-bottom: 1px solid rgb(170,170,170);
}

section > title {
 font-size: 150%;
 border-bottom: 1px solid rgb(170,170,170);
 margin-bottom: 0.6em;
}

p {
 margin: 0.4em 0 0.5em 0;
}

collectionlink {
 color: #800;
}

b { font-weight: bold }

emph3 { font-weight: bold; }
emph2 { font-style: italic; }

collectionlink {
 text-decoration: none;
 color: rgb(0,43,184);
}

normallist { display: block; padding-left: 2em; list-style: outside disc; }
numberlist { display: block; padding-left: 2em; list-style: decimal; }
item { display: list-item; }

tr, row { display: table-row; }
td, cell { display: table-cell; }
table { display: table; }
collectionlink { cursor: pointer; }



languagelink { display: block; margin-top: 1cm; border-top: 1px solid black; }
languagelink::before { display: block; content: "Other languages:"; text-decoration: underline; }
languagelink ~ languagelink { display: block; border: 0; margin: 0;}
languagelink ~ languagelink::before { content: ""; }

template { display: table;  border: 1px solid #888; }
template > template:before { content: attr(name); display: table-cell; font-weight: bold; }
template > template { display: table-row; padding: 3px; border: 1px solid #888; }


