/* @namespace url(http://www.w3.org/1999/xhtml) */


div#navigation { 
  position: absolute;
  visibility: hidden;
  border: 1px outset #aaaaaa;
  background: #eeeeee;
  top: 0;
  left: 0;
}

div#s_nav {
  z-index: 2;
  position: absolute;
  visibility: hidden;
  border: 1px outset #aaaaaa;
  background: #eeeeee;
  padding: 4px; 
  top: 0;
  left: 0;
}

div#s_nav img:hover, div#navigation img:hover {
  border: 2px outset #444444;
  background: #aaaaaa;
}

div#s_nav img, div#navigation img {
  border: 2px solid transparent;
}


/** Eval box */

div#eval_div {
  border: 1px outset #aaaaaa;
  background: #dddddd;
  visibility: hidden; 
  padding: 4pt; 
  position: absolute; 
  top: 0; 
  left: 0; 
/*   background: #ffffcc;  */
  font-size: small;
}

div#eval_div img:hover {
  border: 1px inset #ffffff;
}

div#eval_div img {
  background: #dddddd;
  border: 1px outset #ffffff;
  cursor: pointer;
  padding: 5pt;
  margin: 3pt;
  font-size: small;
}

div#eval_div img.on {
  background: #cccccc;
  border: 1px inset #ffffff;
}

div#eval_div img.on:hover {
  background: #dddddd;
  border: 1px outset #ffffff;
}

div#eval_div img.disabled {
  cursor: default;
  background: #ffffcc;
  color: #444444;
  border: 1px solid transparent  ;
}

div#eval_div img.selected {
  border: 1px solid red;
  cursor: default;
}

div#eval_div img.inconsistant {
  background: #cccccc;
  color: #444444;
  border: 1px solid red;
  cursor: default;
}




div#inex .xmle {
  border: 1px solid transparent;
}

div#inex div.xmle {
  padding-left: 4px;
}

span.xml {
 display: none;
}